.container {
    display: grid;
}

img {
    max-width: 100%;
}

p {
    background-color: #fff;
    border: 5px solid #3b77bc;
    padding: 3px;
}

@media screen and (min-width: 480px) {
    .container {
        grid-template-columns:auto auto auto auto;
        gap: 10px 10px;
        justify-content: space-evenly;    
    }
    img {
        grid-column-end: span 2;
    }
    .text {
        grid-column-end: span 4;
    }
    header {
        grid-column: 1 / span 4;
    }
    #finalimg {
        grid-column-start: 2;
    }
}

@media screen and (min-width: 801px) {
    .container {
        grid-template-columns: repeat(6, 1fr);
    }
    img {
        min-width: 380px;
        min-height: 250px;
    }
    .text {
        grid-column-end: span 2;
        text-overflow: clip clip;
        overflow: scroll;
        max-height: 215px;
    }
    .text:focus {
        background-color: #d3d3d3;
    }
    #finalimg {
        grid-column-start: 2;
    }
    #finaltext {
        grid-column-start: 4;
    }
    header {
        grid-column-end: span 3;
    }
}