body {
    background-image: url("windows_xp_bliss-wide.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', 'Open sans', 'Arial';
}

h1 {
    font-size: 2.5em;
}

p {
    font-family: 'Segoe UI', 'Open sans', 'Arial';
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', serif;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    border: 5px solid #3b77bc;
}

nav a {
    text-align: center;
    display: block;
    color: #000;
    border: solid 3px #3b77bc;
    width: 60px;
    padding: 14px 16px;
    text-decoration: none;
    margin: 3px;
}
  
a:hover {
    background-color: skyblue;
}

.active {
    background-color:deepskyblue;
    font-weight: bold;
}

.top {
    display: none;
}

footer p {
    text-align: left;
    display: block;
    max-width: 100%;
    background-color: #fff;
    border: 5px solid #3b77bc;
    padding: 3px;
}

@media screen and (min-width: 480px) {
    nav {
        flex-flow: row wrap;
        justify-content: center;
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width: 768px) {
    nav a {
        display: inline-block;
    }
    .top {
        display: inline-block;
        width: 100px;
    }
    .skip {
        width: 200px;
    }
}