.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.attach {
    display: flex;
    flex-flow: column nowrap;
}

p {
    background-color: #fff;
    border: 5px solid #3b77bc;
    padding: 3px;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    flex: 0 0 100%;
}

@media screen and (min-width: 480px) {
    div {
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    div {
        width: 30%;
    }
    p {
        align-self: center;
        width: 95%;
    }
}