.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.attach {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

p {
    background-color: #fff;
    border: 5px solid #3b77bc;
    padding: 5px;
    width: 95%;
}

h2 {
    padding: 5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

header {
    flex: 0 0 100%;
}

.writing {
    background-color: #fff;
    border: 5px solid #3b77bc;
    padding: 3px;
    width: 95%;
    align-self: stretch;
}

.writing p {
    background-color: none;
    border: none;
}

@media screen and (min-width: 480px) {
    div {
        width: 45%;
    }
}

@media screen and (min-width: 801px) {
    div {
        width: 30%;
    }
}